#keyInfo
{
font-size: 16px;
line-height: 8px;
margin-right: 0px;
}

#nameHeading{
    margin-right: 10px;
    margin-top: 10px;
    color: red;
    margin-right: 0px;
}
#rating{
    color: red;
}

#img{
    max-width: 250px;
    max-height: 187px;
    width: 250px;
    height: 187px;
    margin-left: 0px;
    margin-right: 0px;
}

#infoWindowContent{
    width: 300px;
}